<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>You are already logged in. <a href="{% url 'split_expense' %}">Go to Split Expense page</a>.</p>
    {% else %}
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
    {% endif %}
</body>
</html>
